<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_gym_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gym_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IGymfinal"
        tools:targetApi="31">


        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- SignUp -->
        <activity
            android:name=".SignupActivity"
            android:exported="true">
        </activity>

        <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".UserInfoActivity"
            android:exported="true"/>

        <activity
            android:name=".BMIResultActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".ProfileActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".CaptureActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".DietActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".WorkoutDetailActivity"
            android:exported="true"/>
        <activity
            android:name=".ExerciseDetailActivity" />

    </application>

</manifest>
